*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 10 691px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
  
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.tit {
    font-family: monospace;
    text-align: center;
    color: rgb(224, 224, 224);
}

.container{
    background: linear-gradient(#424242,#2a2a2a);
    padding: 20px 30px;
    box-shadow: 0px 2px 10px 0px black;
    border-radius: 20px;
    margin-left: 600px;
    margin-right: 600px;
        
}

body{
    background:linear-gradient(rgb(26, 26, 26),rgb(36, 36, 36));
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

label {
    font-family: monospace;
    color: rgb(224, 224, 224);
}

button{
    background: linear-gradient(#424242,#2a2a2a);
    padding: 10px 20px;
    box-shadow: 0px 2px 10px 0px black;
    border-radius: 20px;
    color: white;
}

button:hover{
    cursor:pointer;
    font-size: 15px;
    transition: 100ms;
}

input{
    border-radius: 10px;
}